<!--
    Se define un componente footer el cual puede ser reutilizado en cualquie otro componentent HTML a traves de inyección,
    además este componente tiene la inyección de una variable dinamica ya definida.
-->
<footer>
    <p>Created by Neoa, Copyright {{ getCurrentYear }}</p>
</footer>