<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help Page</title>
</head>
    <body>
    <!-- De esta forma se inyectan los componentes dentro de una pagina  de la libreria HBS-->
        {{> header }}

        <p> Some text here</p>
    </body>

    {{> footer}}
</html>